body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  max-width: 800px;
  display: table;

  /*justify-content: space-between;
  flex-wrap: wrap;*/
  
}

.search-bar {
  display: table-cell;
  width: 100%;
}


.button-go {
  display: table-cell;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 6px 12px;
  -moz-box-shadow: inset 0px 1px 0px 0px #4d73bf;
  -webkit-box-shadow: inset 0px 1px 0px 0px #4d73bf;
  box-shadow: inset 0px 1px 0px 0px #4d73bf;
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-shadow: 0 1px 0px #3359a5;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.input-search {
  width: 100%;
  height:24px;
}

.day {
  display: flex;
  flex-direction: column;
}

.location {
  display: table-cell;
  white-space: nowrap;
}

.form-search {
  display: table;
  width: 100%;
}

.flex-container {
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-flex-flow:row wrap;
  display: flex;
  margin-top: 10px;
  /*max-width: 1400px;*/
}

.forecast {
  max-width: 1700px;
}


p {
  margin: 1px;
}

.flex-item {
  display: inline-block;
  width: 200px;
  border: 2px;
  border-style: solid;
  border-color: #213d58;
  background: #cce6ff;
  margin: 5px;
  padding: 5px;
  text-align: center;
}


